body{
    font-family: 'Russo One', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: cadetblue;
}
legend{
    font-size: 20px;
    color:red;
    
}
input, select, textarea{
    padding: 5px;
    background-color: cadetblue;
    
}
fieldset{
    width: 400px;
    margin: 5px;
    background-color: rgb(63, 102, 89);
    border: 2px solid red;
    border-radius: 8px;
   
}
td, tr, th {
    padding: 5px;
}