body {
			
    background-image: url("./background_image.jpg");
}
form {
    margin: auto;
    max-width: 500px;
    padding: 20px;
    color: white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
}
form label {
    font-size: 30px;
}
label {
    display: block;
    margin-bottom: 10px;
    
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=radio] {
    display: inline-block;
    margin-right: 10px;
}
button {
    background-color: #f44336;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
}
button:hover {
    background-color: #d32f2f;
}